[Unit]
Description=X-Ray mail processor

[Service]
Type=simple
Restart=always
ExecStart=${APP_DIR}/venv/bin/python ${APP_DIR}/x-ray.py

[Install]
WantedBy=multi-user.target